# Configurações para Heroku
production=true
optional=true
ignore-scripts=true

# Pular binários nativos problemáticos
target_platform=linux
target_arch=x64

# Configurações de build
node_gyp=/app/.heroku/node/lib/node_modules/npm/node_modules/node-gyp/bin/node-gyp.js 